$colorGrayBg: #F0F1F1;
$colorDarkYellow: #5E5322;
$colorImportant: #FAD648;
$colorDarkGray: #737373;
$colorText: #3C3C3C;
$colorBg: #F3F3F3;
$colorWhite: #FFFFFF;
$colorBodyBg: #E7E7E7;
$colorPaginationBorder: #707070;
$colorPlaceholder: #3C3C3C26;