@import "../../scss/main.scss";

.home-header {
    height: 420px;
    width: 100%;

    &::before {
        content: "";
        width: 100%;
        height: 420px;
        background-image: url("../../assets/Home-Hero-Image.jpg");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    @include mediaDesktop {
        height: auto;
        background: url("../../assets/Home-Hero-Image.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        background-position-x: -500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &::before {
            content: "";
            display: none;
        }
    }

    @include mediaMax {
        background-position-x: -550px;
    }

    @include mediaFull {
        background-position-x: -400px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mediaDesktop {
            width: 60%;
            margin-right: 45px;
            padding: 60px 0 140px 0;
        }

        @include mediaMax {
            padding: 120px 0 180px 0;
            margin-right: 10px;
        }
    }

    &__text {
        width: 90%;
        font-size: 32px;
        text-align: center;
        letter-spacing: 0.76px;
        padding: 15px;
        color: $colorText;

        @include mediaDesktop {
            font-size: 35px;
            padding: 10px;
        }

        @include mediaMax {
            font-size: 38px;
        }
    }

    &__img {
        margin: 10px 0 30px 0;

        @include mediaDesktop {
            margin: 20px 0 40px 0;
        }
    }

    &__buttons {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }

    &__btn {
        display: inline-block;
        border: 0.75px solid $colorText;
        width: 40%;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;

        @include mediaDesktop {
            font-size: 24px;
        }

        @include mediaMax {
            width: 240px;
            font-size: 28px;
            line-height: 36px;
        }
    }
}