@import "../../scss/main.scss";

.three-columns {
    width: 100%;
    background: url("../../assets/Three-Columns-Background.png");
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mediaDesktop {
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0;
    }

    &__column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 30px;

        @include mediaTablet {
            width: 70%;
        }

        @include mediaDesktop {
            width: calc(100% / 3);
        }

        @include mediaMax {
            padding: 15px 60px;
        }
    }

    &__head {
        font-weight: 300;
        font-size: 60px;

        @include mediaMax {
            font-size: 90px;
        }
    }

    &__title {
        letter-spacing: -0.36px;
        padding: 10px 0 20px 0;
        font-size: 16px;

        @include mediaMax {
            font-size: 18px;
            padding: 20px 0 30px 0;
        }
    }

    &__description {
        font-family: $font-alt;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.32px;
        line-height: 30px;

        @include mediaMax {
            font-size: 16px;
        }
    }
}