@import "../../scss/main.scss";

.form-second-step {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mediaDesktop {
    height: 400px;
  }

  @include mediaMax {
    height: 500px;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__label-text {
    width: auto;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 15px;
    margin-right: 20px;

    @include mediaTablet {
      padding-bottom: 0;
      padding-top: 15px;
    }

    @include mediaMax {
      font-size: 20px;
    }
  }

  &__select-box {
    width: auto;
    background: transparent;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mediaMax {
      font-size: 20px;
    }
  }

  &__select {
    width: 180px;
    border: 0.75px solid $colorText;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include mediaMax {
      width: 300px;
    }
  }

  &__select-arrow {
    display: block;
    width: 47px;
    height: 20px;
    background-size: cover;

    &--down {
      background-image: url("../../assets/Icon-Arrow-Down.svg");
    }

    &--up {
      background-image: url("../../assets/Icon-Arrow-Up.svg");
    }

    @include mediaDesktop {
      width: 47px;
      height: 26px;
    }
  }

  &__select-list {
    border: 0.75px solid $colorText;
    width: 70px;
    text-align: center;
    margin-top: 10px;
  }

  &__select-value {
    padding: 6px 0;
    cursor: pointer;
  }
}
