@import "../../scss/main.scss";

.form-second-step {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mediaDesktop {
    height: 400px;
  }

  @include mediaMax {
    height: 500px;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__label-text {
    width: auto;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 15px;
    margin-right: 20px;

    @include mediaTablet {
      padding-bottom: 0;
      padding-top: 15px;
    }

    @include mediaMax {
      font-size: 20px;
    }
  }

  &__buttons {
    width: 100%;
  }
}
