@import "../../scss/main.scss";

.form-first-step {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    &__label {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
  
      @include mediaMax {
          margin-bottom: 40px;
      }
    }
  
    &__label-text {
      font-weight: 300;
      font-size: 18px;
      width: 90%;
  
      @include mediaMax {
          font-size: 20px;
      }
    }
  
    &__input {
        display: none;
  
        &:checked ~ .form-first-step__span {
            background: $colorImportant;
        }
    }
  
    &__span {
      margin-right: 10px;
      display: block;
      width: 25px;
      height: 25px;
      border: 0.75px solid $colorText;
      background: transparent;
      cursor: pointer;
  
      @include mediaMax {
          margin-right: 20px;
          width: 35px;
          height: 35px;
      }
    }
  }