@import "../../scss/main.scss";

.about {
    width: 100%;
    background: $colorGrayBg;
    display: flex;
    flex-direction: column;

    @include mediaDesktop {
        flex-direction: row-reverse;
    }

    &__image {
        width: 100%;
        height: 300px;
        background: url("../../assets/People.jpg");
        background-size: cover;
        background-position: center;

        @include mediaTablet {
            height: 450px;
        }

        @include mediaDesktop {
            width: 50%;
            height: auto;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;

        @include mediaTablet {
            padding: 40px 80px;
        }

        @include mediaDesktop {
            width: 50%;
        }

        @include mediaMax {
            padding: 90px 100px;
        }

        @include mediaFull {
            padding: 90px 160px;
        }
    }

    &__title {
        font-size: 30px;
        letter-spacing: -0.76px;

        @include mediaMax {
            font-size: 38px;
        }
    }

    &__decoration {
        width: 170px;
        padding: 15px 0 25px 0;

        @include mediaMax {
            width: 200px;
            padding: 26px 0 55px 0;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.6px;

        @include mediaMax {
            font-size: 24px;
            line-height: 46px;
        }
    }

    &__signature {
        width: 150px;
        align-self: flex-end;
        padding-top: 20px;

        @include mediaMax {
            width: 200px;
            padding-top: 40px;
        }
    }
}