@import "../../scss/main.scss";

.log-out {
    width: 100%;
    height: 100vh;
    background: $colorWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    &__content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10px 20px;
    }

    &__title {
        font-size: 30px;
        letter-spacing: 45px;
        letter-spacing: -0.8px;
        margin-top: 40px;

        @include mediaMax {
            font-size: 40px;
            line-height: 55px;
            margin-top: 80px;
        }
    }

    &__decoration {
        width: 200px;
        padding: 25px 0 35px;

        @include mediaMax {
            width: 250px;
        }
    }

    &__btn {
        font-weight: 300;
        font-size: 16px;
        padding: 13px 15px;
        border: 0.75px solid $colorText;
        cursor: pointer;

        @include mediaMax {
            font-size: 18px;
        }
    }
}