@import './settings/reset.scss';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './settings//mixins.scss';

body {
    font-family: $font-base;
    color: $colorText;
    background: $colorBg;
}

.app {
    max-width: 1366px;
    margin: 0 auto;
    background: $colorWhite;
}

a {
    text-decoration: none;
    color: $colorText;
  
    &:focus {
      outline: none;
    }
  }