@import './settings/reset.scss';
@import './settings/fonts.scss';
@import './settings/colors.scss';
@import './settings//mixins.scss';

body {
    font-family: $font-base;
    color: $colorText;
    background: $colorBodyBg;
}

.app {
    max-width: 1600px;
    margin: 0 auto;

    @include mediaDesktop {
      background: $colorWhite;
    }
}

a {
    text-decoration: none;
    color: $colorText;
  
    &:focus {
      outline: none;
    }
  }